@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Arvo");
@import 'vendor/mc-bootstrap-bundle.css'
@import 'base_view'

body
  background-color: whitesmoke
  padding-top: 50px

  &.loading
    .loading-indicator
      display: block

.loading-indicator
  display: none
  float: right
  color: white
  line-height: 40px
